.dialog {
    background-color: #0d3240;
    border-radius: 20px;
}

dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.500);
    transition: all 5s ease-in;
}

.dialog header {
    justify-content: space-between;
    background-color: #0d3240;
}

.dialog h3 {
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.dialog section img {
    width: auto;
    height: 250px;
}

.button-2 {
    background-color: #0d3240;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}

.button-2:hover {
    background-color: #124658;
}

.button-2:focus {
    background-color: #0D3240;
}

.dialog footer {
    background-color: #0d3240;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 0;
}

.button-3 {
    background-color: #0d3240;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}

.button-3:hover {
    background-color: #1E1E23;
    border: rgba(0, 0, 0, 0.500);
    border-radius: 100px;
    border-block-style: solid;
    cursor: pointer;
    color: #FD5B4F;
    font-size: 20px;
    padding: 10px 20px;
}